h1{
    text-align: center;
    font-family: 'Monoton', cursive;
   

}

#hero-title{
    font-size: 75px;
    color: #e6a227;
}

.cocktail {
    color: rgb(0, 209, 178);
}

h2 {
    text-align: center;

}

#hero{
    background: url(https://i.pinimg.com/originals/2a/c4/77/2ac477bc2708882901461560be69b9ab.jpg);

}

#search-box{
    border-style: solid;
    border-color: rgb(0, 209, 178);
    margin: 30px;
}

.footer {
    background-color: hsl(171, 100%, 41%);
    color: white;
}

i{
    color: #e6a227;
}

#cocktailPicture {
    height: 300px;
    width: 300px;
}

h4 {
    color: hsl(171, 100%, 41%);
    font-size: 24px;
    font-weight: 500;
}

.search-result {
    text-align: center;
}

#cocktailPicture {
    margin-left: auto;
    margin-right: auto;
}

section {
    height: 350px;
}

button {
    margin-left: 360px;
}
/*Share button*/

.toggle_button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #fff;
    border-radius: 45px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.toggle_button ul li a{
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 35px;
}

.toggle_button ul li a.share_btn{
    justify-content: center;
    cursor: pointer;
}

.toggle_button ul li a.share_btn .text{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 10px;
    color: #e6a227;
    margin-right: 15px;
}

.toggle_button ul li a.share_btn .icon{
    width: 35px;
    height: 35px;
    background: hsl(171, 100%, 41%);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: all 1s ease;
}

.toggle_button ul li a .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}


.toggle_button ul li a .text{
    letter-spacing: 1px;
}

.toggle_button.active{
    height: 325px;
}

.toggle_button.active ul li a.share_btn .icon{
    transform: rotate(45deg);
}

.toggle_button ul li a.sm{
    visibility: hidden;
}

.toggle_button.active ul li a.sm {
    visibility: visible;
    transition-delay: 0.3s;
}
/*End of Share Button*/
